


  <!-- Wrapper for slides -->
  <div class="slider" role="listbox">
    <div class="slide1">
    </div>
    <div class="slide2">
    </div>
    <div class="slide3">
    </div>
    <div class="slide4">
    </div>
  </div>


<!-- Remeber to put all the content you want on top of the slider below the slider code -->
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="title">Welcome back user!</h1>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div>
        <div class="mainMenu">
          <div class="col-1"></div>
          <button class="btn btn-default col-10 submit">Play a game</button>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-10"></div>
          <button class="btn btn-default col-10 submit" [routerLink]="['/card']">Browse Cards</button>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <button class="btn btn-default col-10 submit">Make a deck</button>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>


  <!--  <div class="slider">
    <img class="slide1" src="../../assets/images/mtgCaster.jpg" />
    <img class="slide2" src="../../assets/images/mtgJace.jpg" />
    <img class="slide3" src="../../assets/images/mtgHydra.jpg" />
    <img class="slide4" src="../../assets/images/mtgWarlock.jpg" />
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row OptionSelection"> link qui va start une game

      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>

-->

