<div class="background"></div>


<!-->BattleField<!-->
<div class="row">
  <div class="col-12">
    <div class="cardsMenu">
      BATTLEFIELD

      <!-->Carte sur battlefield ai <!-->
      <div class="row">
        <div *ngFor="let a of matchService.opponentCardsOnBattlefield" class="col-3" (click)="selectedCardForDefense(a)">
          <mat-card class="card">
            <div class="container">
              <mat-card-header>
                <mat-card-title>{{a.name}}</mat-card-title>
                <mat-card-subtitle>{{a.cost}}$</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{a.image}}">
              <mat-card-content>
                <h3>Atk: {{a.attack}} / Def: {{a.defense}}</h3>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
        <!-->Carte sur battlefield ai <!-->

        <!-->Carte sur battlefield player <!-->
        <div class="row">
          <div *ngFor="let a of matchService.myCardsOnBattlefield" class="col-3" (click)="selectedCardForAttack(a)">
            <mat-card class="card">
              <div class="container">
                <mat-card-header>
                  <mat-card-title>{{a.name}}</mat-card-title>
                  <mat-card-subtitle>{{a.cost}}$</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{a.image}}">
                <mat-card-content>
                  <h3>Atk: {{a.attack}} / Def: {{a.defense}}</h3>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </div>
        <!-->Carte sur battlefield player <!-->

      </div>
    </div>
  </div>
</div>
<!-->BattleField<!-->


<!-->Carte dans la main <!-->
  <div class="row">
    <div class="col-12">
      <div class="cardsMenu">
        HAND
        <button (click)="playCard()">Cast Card</button>
        <button (click)="endTurn()">End Turn</button>
        <div class="row">
          <div *ngFor="let a of matchService.myDeck" class="col-3" (click)="selectedCardToPutOnBattlefield(a)">
            <mat-card class="card">
              <div class="container">
                <mat-card-header>
                  <mat-card-title>{{a.name}}</mat-card-title>
                  <mat-card-subtitle>{{a.cost}}$</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{a.image}}">
                <mat-card-content>
                  <h3>Atk: {{a.attack}} / Def: {{a.defense}}</h3>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-->Carte dans la main <!-->
