<div class="background"></div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="title">My Collection!</h1>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <div class="cardsMenu">
          <div class="row">
            <div *ngFor="let a of cardList" class="col-3">
              <div class="card">
                <p>{{a.name}}</p>
                <p>{{a.attack}}  /  {{a.defense}}</p>
              </div>
            </div>


            <mat-card  *ngFor="let a of cardList">
              <mat-card-header>
                <mat-card-title>{{a.name}}</mat-card-title>
              </mat-card-header>


              <img mat-card-image src="{{a.image}}">



            </mat-card>
            <!--<div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>
            <div class="col-3">
              <div class="card">

              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
