<div class="background"></div>
  
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-card class="card">
                <div class="container">
                <mat-card-header>
                  <mat-card-title>{{name}}</mat-card-title>
                  <mat-card-subtitle>{{cost}}$</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{image}}">
                <mat-card-content>
                  <h3>Atk: {{attack}} / Def: {{defense}}</h3>
                </mat-card-content>
                </div>
              </mat-card>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn submit" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
  

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="title">My Collection!</h1>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="cardsMenu">
        <div class="row">
          <div *ngFor="let a of cardList" class="col-3">
              <mat-card class="card" [class.notOwned]="!a.acquired" (click)="open(content)">
                <div class="container">
                <mat-card-header>
                  <mat-card-title>{{a.name}}</mat-card-title>
                  <mat-card-subtitle>{{a.cost}}$</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{a.image}}">
                <mat-card-content>
                  <h3>Atk: {{a.attack}} / Def: {{a.defense}}</h3>
                </mat-card-content>
                </div>
              </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
