<div class="row">
  <div class="col-12">
    <div class="cardsMenu">
      <div class="row">
        <div *ngFor="let a of allCards"  (click)="addCardToDeck(a)" class="col-3">
          <mat-card class="card">
            <div class="container">
              <mat-card-header>
                <mat-card-title>{{a.name}}</mat-card-title>
                <mat-card-subtitle>{{a.cost}}$</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{a.image}}">
              <mat-card-content>
                <h3>Atk: {{a.attack}} / Def: {{a.defense}}</h3>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="text" placeholder="Name" [(ngModel)]="name">

<button (click)="createDeck()">Create</button>
<button routerLink="/Player">Main Menu</button>
